<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.baoge.wnotes">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".query.OrderEditActivity"
            android:exported="false" />
        <activity
            android:name=".query.OrderInfoAcitivity"
            android:launchMode="singleInstance" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name=".query.StatisticActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".query.OrderQueryActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".order.AddOrderActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".addinfo.AddDevicesActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".addinfo.AddInstallerActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".addinfo.AddTechnicianActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".addinfo.AddDepartMentActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".addinfo.AddCityActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".addinfo.AddHostpitalActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".addinfo.HospitalListActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".addinfo.AddInfoActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".PermissionActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>